name: MotherJungle Manufacturing

on:
  workflow_dispatch:
  pull_request:
  push:
    branches: main
    tags:
      - "v[0-9]+.[0-9]+.[0-9]+"

jobs:
  build:
    strategy:
      matrix:
        applet:
          [
            bookPatcher,
            t3crc,
            merchantIndexGrabber,
            addVanillaRefs,
            deadDiagFix,
          ]
        os: [macos-latest, macos-15-intel, ubuntu-latest, windows-latest]

    runs-on: ${{ matrix.os }}
    
    permissions:
      contents: write
      id-token: write
    
    steps:
      - uses: actions/checkout@v4
      
      - name: Run Corprus Crucible for ${{ matrix.applet }}
        uses: DreamWeave-MP/StroggForge/.github/actions/corprus-crucible@v4
        with:
          binary_name: ${{ matrix.applet }}
          vt_api_key: ${{ secrets.VT_API_KEY }}
          github_token: ${{ secrets.GITHUB_TOKEN }}
          include_files: ${{ matrix.applet == 'merchantIndexGrabber' && 'customMerchantRestock.lua' || '' }}
