name: release
on:
  push:
    tags:
      - "v[0-9]+.[0-9]+.[0-9]+"
jobs:
  setup:
    runs-on: ubuntu-latest
    steps:
      - uses: softprops/action-gh-release@v2
  build:
    needs: setup
    strategy:
      matrix:
        applet:
          [
            bookPatcher,
            t3crc,
            merchantIndexGrabber,
            addVanillaRefs,
            deadDiagFix,
          ]
        os: [macos-latest, ubuntu-latest, windows-latest]
        include:
          - os: macos-latest
            extension: ""
            archive: macos-latest.zip
          - os: ubuntu-latest
            extension: ""
            archive: ubuntu-latest.zip
          - os: windows-latest
            extension: ".exe"
            archive: windows-latest.zip
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3
      - uses: dtolnay/rust-toolchain@nightly

      - name: build
        run: |
          cd ${{ matrix.applet }}
          cargo build --release
          cd target/release
          7z a -tzip ../../../${{ matrix.applet }}-${{ matrix.archive }} ./${{ matrix.applet }}${{ matrix.extension }}
          
          if [ "${{ matrix.applet }}" = "merchantIndexGrabber" ]; then
            7z u -tzip ../../../${{ matrix.applet }}-${{ matrix.archive }} ../../merchantIndexGrabber.lua
          fi

      - name: upload
        uses: softprops/action-gh-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          files: ${{ matrix.applet }}-${{ matrix.archive }}
